
<!-- <Third page index1> -->
<div class="card border-0 table-container mb-2">
   <% if planner.present? %>
     <div class="card-body">
   <!--    <a class="btn btn-download float-right mb-2" onclick="overallpdf();"><i class="ti-printer"></i> Print</a> -->
   <a class="btn btn-download float-right mb-2"  href = "http://localhost/habitos/plans/PrintPRN.php?date=<%= planner[0].date%>&meal_time=<%= planner[0].tenant_detail.meal_time%>&tenant_id=<%= planner[0].tenant_detail.tenant_id %>" target="_blank"><i class="ti-printer"></i> Print</a>
       <table class="table table-striped table-bordered display w-100" id="planner_partial">
         <thead>
           <th class="client_name">Client Name</th>
           <th class="stud_type">Student Type</th> 
           <th class="meal_type">Meal Type</th>
           <th><b><%= planner[0].date.to_date.strftime("%d-%m-%Y")%></b></th>
           <th><b><%= planner[0].tenant_detail.tenant.name%></b></th>
           <th><b>Client Category</b></th>
           <th><b>Utensil Name</b></th>
           <th><b>Count</b></th>
           <th><b>Utensil ID</b></th>
           <th class="text-center"><b>Action</b></th>
         </thead>

         <tbody>
          <%cc = 1%>
           <%planner.each do |v|%>
           <tr>
             <td class="client_name"><%= planner[0].tenant_detail.tenant.name %></td>
             <td class="stud_type"><%= ClientCategory.find(planner[0].tenant_detail.stud_type).name %></td>
             <td class="meal_type"><%= planner[0].tenant_detail.meal_time %></td>  
             <td><%= v.menuitem["name"]%></td>
             <td><%= v.menuitem["qty"].to_f.round(4).to_s+" "+ v.menuitem["UOM"]%></td>
             <td><%= ClientCategory.find(v.tenant_detail.stud_type).name %></td>
             <td><%= v.utensil.present? ? v.utensil.utensilname.name : nil%></td>
             <td>1</td>
             <td><%= v.tag.auto_id%></td>
             <td class="text-center"><!-- <button onclick="printFunc(<%#=v.id%>)" id="printbtn<%#=v.id%>" class="btn btn-print"><i class="ti-printer"></i></button> --> 
              <a href = "http://localhost/habitos/plans/PrintPRN.php?id=<%=v.id%>&&count=<%= cc %>&&total=<%= planner.count%>" target="_blank"><i class="ti-printer"></i></a>
             </td>
           </tr>
           <%cc +=1%>
           <% end %>
         </tbody>
       </table>
       <div style="display: none;">
         <div id="overallpdf">
            <% num = 1 %>
             <%planner.each do |v|%>
             <div class="sticker_print" id="row<%=v.id%>">
               <h6 style=""><%= planner[0].date.to_date.strftime("%d-%m-%Y")%> <span><%= num %>/<%= planner.count%></span></h6>
               <h1><%= planner[0].tenant_detail.tenant.name %></h1>
               <label><%= planner[0].tenant_detail.meal_time %> - <%= ClientCategory.find(v.tenant_detail.stud_type).name %></label>
               <label><%= v.menuitem["name"]%></label>
               <p>Vessel:&nbsp;<%= v.utensil.present? ? v.utensil.utensilname.name : nil%>
                 <span class="item-wtg"><%= v.menuitem["qty"]+" "+"nett"%></span>
               </p>
               <!-- <p>Vessel ID:&nbsp;<%#= v.tag.present? ? v.tag.auto_id : nil%> </p> -->
               <% num += 1 %>
             </div>
              
             <% end %>
         </div>
       </div>
     </div>
  <%end%>
</div>




<script type="text/javascript">

$( document ).ready(function() {
    $(".client_name, .stud_type, .meal_type").hide();
    $('#planner_partial').DataTable({
      aaSorting: [[7, 'desc']]
    });
});



// Jquery For Changing Table Column Order    


function show(){
 $(function() {
        jQuery.each($("#planner_partial tr"), function() { 
        $(this).children(":eq(0)").before($(this).children(":eq(3)"));

      });
  });
}

function printFunc(name) {
  
 show();
 
    var divToPrint = document.getElementById("row"+name);
    var printto = divToPrint.outerHTML;
    var printButton=document.getElementById("printbtn"+name);

    let newWin = window.open();
    printButton.style.visibility = 'hidden';


    newWin.document.write("<head><meta name='viewport' content='width=device-width, initial-scale=1.0'></head><style type='text/css'>body {margin: 0; font-family: sans-serif; } .sticker_print {padding: 20px; } .sticker_print h6 {font-size: 28px; font-weight: normal; border-bottom: 2px solid #ddd; padding: 15px 0; margin: 0; position: relative; } .sticker_print h6 > span {position: absolute; right: 0; bottom: -40%; background-color: #fff; font-size: 22px; width: 3rem; height: 3rem; display: flex; align-items: center; justify-content: center; border: 2px solid #a5a5a5; border-radius: 50%; } .sticker_print h1 {font-size: 30px; font-weight: normal; padding-right: 65px; margin-bottom: 10px;} .sticker_print label{font-size: 20px; display: block; margin-bottom:10px; } span.item-wtg {padding: 8px 15px; border-radius: 25px; border: 1px solid #5f5f5f; } .sticker_print p{font-size: 24px; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; margin: 15px 0;} .sticker_print p:last-child{padding-bottom: 15px; border-bottom:2px solid #ddd; }</style><div><table><tbody>" +printto+ "</tbody></table></div>");
    //newWin.document.write(divToPrint.outerHTML.replace(new RegExp("</td>","g"),"<br>").replace(new RegExp("<td>","g"),""));
    // newWin.document.write(divToPrint.outerHTML);

    // newWin.document.write(htmlToPrint);
    // newWin.document.write("</div>"); 
    newWin.print();
    newWin.close();
    printButton.style.visibility = 'visible';
    }
</script>
<script type="text/javascript">
    function overallpdf(){
      var overallpdf = document.getElementById("overallpdf");
      var printto = overallpdf.outerHTML;
      let newWin = window.open();
      newWin.document.write("<head><meta name='viewport' content='width=device-width, initial-scale=1.0'></head><style type='text/css'>body {margin: 0; font-family: sans-serif; } .sticker_print {padding: 20px; } .sticker_print h6 {font-size: 28px; font-weight: normal; border-bottom: 2px solid #ddd; padding: 15px 0; margin: 0; position: relative; } .sticker_print h6 > span {position: absolute; right: 0; bottom: -40%; background-color: #fff; font-size: 22px; width: 3rem; height: 3rem; display: flex; align-items: center; justify-content: center; border: 2px solid #a5a5a5; border-radius: 50%; } .sticker_print h1 {font-size: 30px; font-weight: normal; padding-right: 65px; margin-bottom: 10px;} .sticker_print label{font-size: 20px; display: block; margin-bottom:10px; } span.item-wtg {padding: 8px 15px; border-radius: 25px; border: 1px solid #5f5f5f; } .sticker_print p{font-size: 24px; display: flex; align-items: center; justify-content: space-between; flex-wrap: wrap; margin: 15px 0;} .sticker_print p:last-child{padding-bottom: 15px; border-bottom:2px solid #ddd; }</style><div><table><tbody>" +printto+ "</tbody></table></div>");
      newWin.print();
      newWin.close();
    }
</script>



    