<div id="status_register_edit" class="modal fade" role="dialog"></div>

<section class="page-content">
  <div class="container-fluid">
    <p class="page_path">Facility Management / Assets Status</p>
    <h2 class="header_title">
      <%= link_to '<i class="fas fa-arrow-left"></i>'.html_safe, utensils_path, title:"Back", :class=>"btn btn_back"%>
      Assets Status
      <%= link_to '<i class="fa fa-plus"></i>'.html_safe,vesselplanners_status_path,:class=>"btn","data-toggle" => "modal", 'data-target' => "#statusModal", "data-whatever": "[]"%></h2>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" style="color: coral;">
             <button type="button" class="close" data-dismiss="alert"> &times;</button>
      </div>
    <% end %>

            <div id="dashboard-container">
              <div class="card table-container mb-2">
                <div class="card-body">
                  <table class="table table-striped table-datatable table-hover display" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Utensil Name</th>
                        <th>From</th>
                        <th>Count</th>
                        <th>Status</th>
                      </tr>
                      </thead>
                      <tbody>
                        <% @asset_status.map do |asst| %>
                        
                        <tr>
                          <td><%= asst.date.strftime('%d-%m-%Y') if asst.date.present?%></td>
                          <td><%= asst.utensilname.name if  asst.utensilname_id.present? %></td>
                          <td><%= asst.kitchen.name%></td>
                          <td><%= asst.count%></td>
                          <td><%= asst.status%>
                           <div class="side-pop position-absolute">
                             <ul class="list-unstyled mb-0">
                              <li><%#= link_to '<i class="fa fa-edit"></i>'.html_safe,vesselplanners_status_path(),:class=>"btn","data-toggle" => "modal", 'data-target' => "#statusModal","data-whatever": "#{asst.to_json}"%>
                                <a class="btn edit_sheet" onclick="status_edit_form('<%= asst.id %>')"><i class="far fa-edit"></i></a>
                              </li>
                              <!-- -->
                             </ul>
                           </div> 
                          </td>
                        </tr>
                        <%end%>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>

        </div>
</section>

<div id="statusModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-fluid">
      <div class="modal-header">
          <h4 class="modal-title">Status Register</h4>
         <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close"> -->
          <span class="ti-close pt-2" aria-hidden="true" data-dismiss="modal" aria-label="Close"></span>
      </div>
       <%=form_for :status, url: {action: "update_status"} do |i|%>
      <div class="row">
        <div class="col-md-4 pt-3">
          <div class="control floating_label">
            <%= i.date_field :date , class: "date input-text",autofocus: true,required: true%>
           <label class="input-text-placeholder" for="date">Date</label>
          </div>
        </div>

         <%= i.hidden_field :asset_status_id, value:"" , class: "asset_status_id" %>
        <div class="col-md-4 pt-3">
          <div class="control floating_label">
           <%= i.select "Utensilname",options_for_select(utensil_name(params)),{},{class: "utensilname input-text",required: true} %> 
            <label class="input-text-placeholder" for="date">Utensil Name</label>  
          </div>
        </div>

        <div class="col-md-4 pt-3">
          <div class="control floating_label">
           <%= i.select "From",options_for_select(@kitchen),{prompt: ""},{class: "kitchen input-text",required: true}%>
           <label class="input-text-placeholder" for="date">From</label>
          </div>
        </div> 
      </div> 
      <div class="row">
        <div class="col-md-4">
          <div class="control floating_label">

              <input type="number" name="count" class= "input-text qty" id="qty" min="0" max="<%= Utensil.find_by(utensilname_id: params["id"]).count_dummy%>" required>
              <label class="input-text-placeholder" for="date">Count
              </label>   
          </div>
        </div>
        <div class="col-md-4">
          <div class="control floating_label ">

            <%# if U %>
              <%#= i.select "Status",grouped_options_for_select(asset_status),{prompt: ""},{class: "status input-text",id: "status_type",required: true, disabled: true} %>
              <%# i.hidden_field :Status, value: i.status %>
            <%#else%> 
              <%= i.select "Status",grouped_options_for_select(asset_status),{prompt: ""},{class: "status input-text",id: "status_type",required: true} %>  
              <!-- <input type="hidden" name="Status" class="newstatus"> -->
              <label class="input-text-placeholder" for="date">Status</label>   
              <%= i.hidden_field "newstatus", class: "newstatus"%>
            <%#end%>
          </div>
        </div>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn_cancel" data-dismiss="modal">Cancel</button>
         <%= i.submit "Save", :class=>"btn btn_submit" %>
      </div>
      <%end%>
    </div>
    </div>
  </div>
</div>


<!-- To Edit and update record(modal popup)-->

<script type="text/javascript">
  $('#statusModal').on('show.bs.modal', function (event) {
    var button = $(event.relatedTarget) 
    var recipient = button.data('whatever') 
        console.log(recipient);
    if (jQuery.isEmptyObject(recipient)){
      var date = new Date(recipient.date)
    year = date.getFullYear()
    month = date.getMonth() < 10 ? '0' + (date.getMonth() +1) : date.getMonth()
    day  = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate()
    newdate = year + '-' + month + '-' + day;
    var modal = $(this)
    modal.find('.date').val(newdate)
    modal.find('.utensilname').val(recipient.utensilname_id)
    modal.find('.kitchen').val(recipient.kitchen_id)
    modal.find('.qty').val(recipient.count)
    modal.find('.status').val(recipient.status)
    modal.find('.status').attr('disabled',false);

    modal.find('.asset_status_id').val(recipient.id)

    }
    else{
    var date = new Date(recipient.date)
    year = date.getFullYear()
    month = date.getMonth() < 10 ? '0' + (date.getMonth() +1) : date.getMonth()
    day  = date.getDate()  < 10 ? '0' + date.getDate()  : date.getDate()
    newdate = year + '-' + month + '-' + day;
    var modal = $(this)
    modal.find('.date').val(newdate);
    modal.find('.utensilname').val(recipient.utensilname_id);
    modal.find('.kitchen').val(recipient.kitchen_id);
    modal.find('.qty').val(recipient.count);
    modal.find('.qty').attr('max', recipient.count+<%= Utensil.find_by(utensilname_id: params["id"]).count_dummy.to_i%>);
    modal.find('.status').val(recipient.status);
    modal.find('.status').attr('disabled',true);
    modal.find('.newstatus').val(recipient.status);
    // modal.find($('<input value="'+recipient.status+'" name="status">').attr('type','hidden').appendTo('.newstatus'))
    modal.find('.asset_status_id').val(recipient.id)
  }
    
  });

    // $(document).on("change", '.qty', function (event) {
    //   var value = event.target.value;
    //   alert(value);

    // });

  function status_edit_form(asset_status_id){
    $.ajax({
        type: "GET",
        url: "/status_register_edit?asset_status_id="+asset_status_id,
    })
  }


 </script>
