<%= form_for(customer_view_control, validate: true) do |f| %>
  <form name="item">
    <div class="card card_form mb-5">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">

            <div class="control floating_label">
              <%= f.collection_select :tenant_id, Tenant.order("name").where(active:true).where.not(:name=>"Idlidabba"),:id,:name, {include_blank: true},{ :class=>"input-text", :required=>"true"} %>
              <%= f.label :tenant,"Client", :class => "input-text-placeholder" %>
            </div>

          </div>

          <div class="col-md-3">

            <div class="control floating_label">
              <%= f.text_area :title ,class: "input-text float_input boxed" %>
              <%= f.label 'title (optional)', :class => "input-text-placeholder" %>
            </div>

          </div>

          <% unless @customer_view_control.billing_upload.present? %>

            <div class="col-md-3">

              <div class="control floating_label">
                <%= f.file_field :billing_upload, accept: "application/pdf", class: "input-text boxed" %>
                <%= f.label :billing_upload, 'Billing Upload (Pdf files only)', :class => "input-text-placeholder" %>

              </div>

            </div>

          <% else %>

            <div class="col-md-3">

              <div class="control floating_label">

                <%= f.file_field :billing_upload, accept: "application/pdf", class: "input-text boxed",validate: false %>
                <%= f.label :billing_upload, 'Billing Upload (Pdf files only)', :class => "input-text-placeholder" %>

                <% if  @customer_view_control.billing_upload %>

                  <div class="file_name_download">
                    <label class="mb-0">Last Bill:</label>
                    <%= link_to @customer_view_control.billing_upload_identifier, @customer_view_control.billing_upload_url, download: @customer_view_control.billing_upload_url, target: "_blank"%>
                  </div>

                <% end %>

              </div>

            </div>

          <% end %>



        <% unless @customer_view_control.bill.present? %>
            <div class="col-md-3">
              <div class="control floating_label">
                <%= f.file_field :bill, accept: "application/pdf", class: "input-text boxed" %>
                <%= f.label :billing_upload, 'Billing Upload (Pdf files only)', :class => "input-text-placeholder" %>
              </div>
            </div>
          <% else %>
            <div class="col-md-3">
              <div class="control floating_label">
                <%= f.file_field :bill, accept: "application/pdf", class: "input-text boxed",validate: false %>
                <%= f.label :billing_upload, 'Billing Upload (Pdf files only)', :class => "input-text-placeholder" %>
                <% if  @customer_view_control.bill %>
                  <div class="file_name_download">
                    <label class="mb-0">Last Bill:</label>
                    <%= link_to @customer_view_control.bill_identifier, @customer_view_control.bill_url, download: @customer_view_control.bill_url, target: "_blank" %>
                  </div>
                <% end %>
              </div>
            </div>
          <% end %> 

          <% unless @customer_view_control.nutrition_upload.present? %>

            <div class="col-md-3">

              <div class="control floating_label">
                <%= f.file_field :nutrition_upload, accept: "application/pdf", class: "input-text boxed" %>
                <%= f.label :Newsletter_upload, 'Newsletter Upload (Pdf files only)', :class => "input-text-placeholder" %>
              </div>
             
            </div>

          <% else %>

            <div class="col-md-3">

              <div class="control floating_label">

                <%= f.file_field :nutrition_upload, accept: "application/pdf",class: "input-text boxed",validate: false %>

                <%= f.label :nutrition_upload, 'Newsletter Upload (Pdf files only)', :class => "input-text-placeholder" %>

                <div class="file_name_download">

                  <label class="mb-0">Last Newsletter:</label>
                  <%= link_to @customer_view_control.nutrition_upload_identifier, @customer_view_control.nutrition_upload_url, download: @customer_view_control.nutrition_upload_url, target: "_blank" %>

                </div>

              </div>
              
            </div>

          <% end %>

        </div>

        <%= f.submit "Submit",:class=>"btn btn_submit float-right" %>

      </div>
    </div>
  </form>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $("#single").select2();
  }); 
</script>