<%= form_for(audit_feedback_category) do |f| %>

   <form name="item">
      <div class="card card_form mb-5">
        <div class="card-body">
          <div class="row">

            <div class="col-md-3">
              <div class="control floating_label">
                <%= f.text_field :category_name, {:class => "input-text float_input boxed ", required: true,autofocus: true}%>
                <%= f.label :category_name , "Category Name",:class => "input-text-placeholder" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="control floating_label">
                <%= f.text_area :category_desc, {:class => "input-text float_input boxed "}%>
                <%#= f.text_field :category_desc, {:class => "input-text float_input boxed "} %>
                <%= f.label :category_desc , "Category Description (optional)",:class => "input-text-placeholder" %>
              </div>
            </div>

            <div class="col-md-3">
              <div class="control floating_label">
                <%= f.select :status, options_for_select(AuditFeedbackCategory.statuses.map {|k, v| [k, k]},selected: f.object.status),{prompt: ""},{class: "input-text boxed e1 ", required: true }%>
                <%= f.label :status , "Status",:class => "input-text-placeholder" %>
              </div>
            </div>

          </div>
          <%= f.submit "submit" , :class=>"btn btn_submit float-right" %>
        </div>
      </div>
    </form>
<% end %>
  <!-- <div class="field">
    <%#= f.label :category_name %>
    <%#= f.text_field :category_name %>
  </div>

  <div class="field">
    <%#= f.label :category_desc %>
    <%#= f.text_field :category_desc %>
  </div>

  <div class="field">
    <%#= f.label :status %>
    <%#= AuditFeedbackCategory.statuses.keys %>
    <%#= f.select :status, options_for_select( AuditFeedbackCategory.statuses.map {|k, v| [k, k]} ),{prompt: ""},{class: "input-text boxed e1 ", required: true }%>
  </div>

  <div class="actions">
    <%#= f.submit %>
  </div> -->

